<%= form_for(@job, :url => jobs_path(:department => params[:department], :cal_start => params[:cal_start]), remote: true, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @job.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h4>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'form_fields', locals: { f: f } %>
    </div>
  </div>

<% end %>
