<div class="page-header">
  <h1>Calendar</h1>
</div>

<div id="job-form" style="display:none;"></div>

<div id="calendar">
	<%= render_table %>
</div>

<div class="project-list">
	<%= content_tag_for(:div, @projects) do |project| %>
	    <span class="color-icon" style="background-color:<%= project.color %>"></span>
	    <%= project.name %>
	<% end %>
</div>