$('#job-form').html("#{j (render 'edit_form')}");
$('#job-form').slideDown(350, function(){
positionTooltips()
});
$('#close').click(function(){
$('#job-form').slideUp(350, function(){
positionTooltips()
});
})
