$('#job-form').html("#{j (render 'new_form')}");
$('#job_ressource_id').val("#{j (@ressource_id)}");
$('select').selectpicker({size: 6});
$('#job-form').slideDown(350);
$('#close').click(function(){
$('#job-form').slideUp(350);
})
