$('#job-form').html("#{j (render 'new_form')}");
$('#job_ressource_id').val("#{j (@ressource_id)}");
$('#job-form').slideDown(350, function(){
positionTooltips()
});
$('#close').click(function(){
$('#job-form').slideUp(350, function(){
positionTooltips()
});
})
