$('#job-form').html("#{j (render 'new_form')}");
$('#job_resource_id').val("#{j (@resource_id)}");
$('select').selectpicker({size: 6});
$('#job-form').slideDown(350);
$('#close').click(function(){
$('#job-form').slideUp(350);
})
