%thead.table-head
  %tr
    %th Resources
    - @calendar.weeks.map do |week|
      %th
        .week-nr= 'KW ' + week[0].cweek.to_s
        .date= week[0].strftime("%d.%m") + '-' + (week[0] + 4).strftime("%d.%m")
