%tbody.table-body
  - @ressources.each do |ressource|
    %tr.ressource-row
      %td= ressource.name
      - @calendar.weeks.each do |week|
        - work_days = week[0]..week[4]
        %td.week
          - work_days.each do |day|
            .day
              - Job.all.each do |job|
                - if day.between?(job.start_date, job.end_date) && ressource.id == job.ressource_id
                  .job{:style => "background:#{Project.find_by_id(job.project_id).color};"}
                    = link_to '', edit_job_path(job, :department => params[:department], :cal_start => params[:cal_start]), :title => truncate(job.short_info, :length => 32), remote: true
              = new_job(day, ressource.id)
