<tbody class="table-body">
	<% $ressources.each do |ressource| %>
		<tr class="ressource-row">
			<td><%= ressource.name %></td>
			<% $calendar.weeks.each do |week| %>
				<% work_days = week[0]..week[4] %>
				<td class="week">
					<% work_days.each do |day| %>
						<div class="day">
							<% jobs_by_date(day, ressource.id) %>
							<%= new_job(day, ressource.id) %>
						</div>
					<% end %>
				</td>
			<% end  %>
		</tr>
	<% end %>
</tbody>