%thead.table-head
  %tr
    %th Ressources
    - @calendar.weeks.map do |week|
      %th
        .week-nr= 'KW ' + (week[0] +7 ).strftime("%U")
        .date= week[0].strftime("%d.%m") + '-' + (week[0] + 4).strftime("%d.%m")
