@import "compass";

/* =============================================================================
    Globals
   ========================================================================== */
body {
	color: #575B5E;
}

a {
	text-decoration: none;
	color: #999;
	&:hover {
		color: #808080;
	}
}

/* =============================================================================
    Page Header
   ========================================================================== */
.page-header {
	position: relative;
	> a { display: block; }
	h2 {
		margin: 0;
		text-align: center;
	}
}

.filter-list, .pager-list {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 8px;
	li {
		display: inline-block;
		margin: 0;
	}
}
.filter-list {
	left: 0;
}
.pager-list {
	right: 0;
}

/* =============================================================================
    Forms
   ========================================================================== */
#job-form, #calendar {
	width: 100%;
}

#job-form {
	clear: both;
	label {
		margin-top: 0.75em;
	}
}

select {
	border: 1px solid #cccccc;
}

.form-control {
	max-width: 18em;
}

.form-actions {
	clear: both;
	margin-bottom: 3em;
}


/* =============================================================================
    Calendar Table
   ========================================================================== */
th {
	.week-nr, .date {
		text-align: center;
	}
	.date {
		font-weight: normal;
	}
}

.week-container {
	display: inline-block;
	span { display: block; text-align: center; }
	margin: .5em;
}

.week {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	&:hover {
		.day {
			height: 3em;
			overflow: hidden;
		}
	}
	.day {
		float: left;
		vertical-align: top;
		margin: .1em 0;
		height: 2em;
		width: 2em;
		border: 1px solid #c2c2c2;
		border-left: 0;
		text-align: center;
		&:first-child {
			@include border-radius(3px 0px 0px 3px);
			border-left: 1px solid #c2c2c2;
		}
		&:last-child {
			@include border-radius(0px 3px 3px 0px);
		}
		div {
			line-height: 2em;
			vertical-align: middle;
		}
		a {
			display: block;
			height: 100%;
			width: 100%;
			text-decoration: none;
			color: #c2c2c2;
		}
		a.new{
			display: none;
			&:after {
				font-family: 'Glyphicons Halflings';
				content: "\e081";
				font-size: 0.8em;
			}
		}
		&:hover a.new {
			display: block;
		}
		.job {
			@include transition (height .2s ease-out);
			border-top: 1px solid white;
			&:first-child {
				border-top: none;
			}
		}
	}
}

/* =============================================================================
    Project list
   ========================================================================== */
.project-list {
	margin: 4em 0 6em 0;
	.project {
		margin-bottom: 1em;
		display: inline-block;
		margin-right: 1em;
		font-size: 1.2em;
		min-width: 10em;
	}
}
.color-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  vertical-align: bottom;
  @include border-radius(3px);
  border: 1px solid #757575;
}

/* =============================================================================
   Misc
   ========================================================================== */
.glyphicons-lock:after {
	font-family: 'Glyphicons Halflings';
	content: "\E033";
	font-size: 0.9em;
	color: #999;
}

